<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Camping at Shirota Lake</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/modern-business.css" rel="stylesheet">

  <link href="css/day.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

  <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a href="file:///C:/Users/Istkhar%20Mohmmad/Desktop/Travelators/index.html"><img class="logo5" src="img/logo9.png" alt=""></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home</a>
          </li>
          
         
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Places To Visit
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
              <a class="dropdown-item" href="404.html">Winter</a>
              <a class="dropdown-item" href="404.html">Spring</a>
              <a class="dropdown-item" href="404.html">Summer</a>
              <a class="dropdown-item" href="404.html">Monsoon</a>
              <a class="dropdown-item" href="404.html">Others</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="404.html">Blog
            </a>
          </li>
          
            <li class="nav-item">
            <a class="nav-link" href="404.html">Services</a>
          </li>
             <li class="nav-item">
            <a class="nav-link" href="contact.html">About</a>
          </li>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>

      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url(img/coorg/3.jpg)">
          <div class="carousel-caption d-none d-md-block">
            <h1>Camping at Shirota Lake</h1>
            <h5>Lonavala, Maharashtra, India</h5>
            
          </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        
      </div>
     
    </div>
  </header>

  <!-- Page Content -->
  	
   
    <div class="main-container">
      <h1 class="day-header"></h1>
      <h2>Trip introduction</h2>
        <p> Lakeside Camping at Bhandardara at the Pristine Water Reservoir and dam camping at Bhandardara. It is one of the camping spot in Maharashtra and  best weekend Outing Place besides Igatpuri. The village is located in the Ahmednagar district of the state of Maharashtra, near about 185 kilometres (115 mi) from Mumbai. Also known for best trekking place near Mumbai, Maharashtra. and it’s best weekend getaways near mumbai.</p><p>

Bhandardara sits by the Pravara River, and the natural environment and most importantly, waterfalls, mountains, Wilson dam, Arthur Lake and Randha falls are tourist attractions. Warm summer winds and dam camping at bhandardara is tremendous.

Recently more tourist attractracted to bhandardara because of Fireflies festival at bhandardara (Kajwa Festival) in the Purushwadi area. Bhandardara is the perfect Camping spot near Mumbai, where you can enjoy quality time with your loved once or with your family and experience the nature’s bliss. Bhandardara camps provides you different packages for camping at bhandardara. Fireflies Festival at bhandardara is mostly enjoyable in  night camping.
</p><p>
Most importantly there are a number of historical and natural places of interest besides that dam. From Bhandardara, visitors can climb up to see the Ratangad and Harishchandragad. Or, visitors can follow the trails that besides that Ajoba and Ghanchakkar peaks.

The highest peak in Maharashtra, Mount Kalsubai is the best trekking place in Maharashtra, 1646 m, and the starting point for this trek is Bari Village, located 12 km away from Bhandardara. At the top, there is a small temple located at the summit, and because views of Sahyadri’s and Bhandardara.

Bhandardara Camping informs you about the toughest trio-forts because of Sahyadri namely Alang Fort, Madangad fort and Kulang fort (therefore they also called A-M-K) located on the southern side while you camping at bhandardara. A very narrow Sandhan valley is on the Western side of the dam which will give you thrilling experience of trekking.
          </p>
         
                <h3>Destination highlights</h3>
                <p>
                  • Spend a night out in the lap of nature beside a lake
• Learn how to light your own bonfire
• Sleep in comfortable, cosy tents
• Enjoy an outdoors experience with the basic conveniences that you're used to
                </p>
           
    
        <div class="day-content">
            <article class="day-info-left">
                <h3>Day 1 – Camping in Bhandardara</h3>
                <p>You'll meet your fellow campers by 16:00 hrs at the campsite. After some delicious evening snacks, you'll gather to celebrate the New Year 2019. With some music and BBQ snacks around the crackling campfire, you'll welcome the new year 2019 at the stroke of midnight. After a scrumptious dinner, you'll call it a night and drift into sleep in your tents. Overnight in tents at Bhandardara.

                </p>
                

                 
            </article>
       <img class="day-img-left" src="img/coorg/5.jpg" alt="Spiti image">
        </div>      

        <div class="day-content">
            <article class="day-info">
              <h3>Day 2 - Depart from campsite</h3>
                <p>Wake up to a beautiful morning at the picture perfect campsite. After breakfast, you'll check-out of the campsite by 10:00 hrs. Your trip ends here.
          
                </p>
                
            </article>
        <img class="day-img" src="img/coorg/6.jpg" alt="Spiti image">
        </div> 
        <div class="day-content">
          <article class="day-info-left">
            <h3>INCLUSION</h3>
             
              <p>o Accommodation in 3* star hotels on Double/Triple sharing basis.<br>
              o Veg & Nonveg food (Breakfast & Dinner).<br>
              o All Sightseeing in Car/Bus with experienced drivers cum guide.<br>
              o 1 Day complimentary bike which will be shared between 2.<br>
              o Camping & Fun Activities, Games.<br>
              o Inner line permit.<br>
              o 24 hours of tour assistance with the first-aid box.

              </p>
        
        
              
          </article>
      <h3>EXCLUSION</h3>
             
              <p>o Bike Fuel.<br>
              o Flight Tickets.<br>
              o No food between the train or flight journey.<br>
              o Any entrance fee, camera charges & boating charges.<br>
              o Camping & Fun Activities, Games.<br>
              o Any up-gradation in room category.<br>
              o Any activity or service charges are other than an itinerary.<br>
              o Any damage to the hotel or private property during the tour.

              </p>
            </div>
      
      
    
    </div>

<footer class="py-5 bg-dark">
    <img class="day-img-left1" src="img/logo10.png" alt="Spiti image">
    <div class="day-content1">
            <article class="day-info-left1">
              <h3>About us</h3>
                <p>Travelators are group of four enthusiastic and energetic people. Who are exploring India in last 5 to 7 years in there on ways. Now after travelling several places in group, solo and self planned itinerary we have decided to show path to other travellers.

                </p>
                <ul class="quick-contact">
                    <li><i class="fa fa-phone text-blue"></i> : +919819549633</li>
                    <li><i class="fa fa-phone text-blue"></i> : +919821793123</li>
                    <li><i class="fa fa-phone text-blue"></i> : +918082624351</li>
                    <li><i class="fa fa-envelope text-blue"></i> : contacttravelators@gmail.com</li>
                </ul>


       <div class="main">
    <div class="flex-container">
      

      <div class="flex-items">
        <i class="fa fa-facebook text-blue"></i>
      </div>
      
    
      <div class="flex-items">
        <i class="fa fa-instagram text-blue"></i>
        
      </div>
      <div class="flex-items">
        <i class="fa fa-twitter text-blue"></i>
      </div>
    </div>
        
     
    </div>
     <p class="m-0 text-right text-black">Copyright &copy; Your Website 2019</p>
     </article>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
