{% extends "layout.html" %}
{% block body %}
    <link href="{{ url_for('static', filename='css/clean-blog.min.css') }}" rel="stylesheet">
 <style>body {
    font-size: 16px;
    color: #212529;
}</style>

 <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/home-bg.jpg') }}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Clean Blog</h1>
              <span class="subheading">A Blog Theme by Start Bootstrap</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

            {% for post in posts %}

          <div class="post-preview">
            <a href="post.html">
              <h2 class="post-title">{{ post.title }}

              </h2>
              <h3 class="post-subtitle">
                Subtitle here
              </h3>
            </a>
            <p class="post-meta">Posted by
              <a href="#">Admin</a>
              on {{post.date}}</p>
          </div>

            {{post.content[0:50]}}....
            <hr></li></a>
            {% endfor %}
          <!-- Pager -->
          <div class="clearfix">
            <a class="btn btn-primary float-right" href="#">Older Posts →</a>
          </div>
        </div>
      </div>
    </div>

    <hr>

 {% endblock %}
