<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Camping at Shirota Lake</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/modern-business.css" rel="stylesheet">

  <link href="css/day.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

  <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="index.html">UNGUIDED<SPAN style="color: #efe573"> TRAVELLERS</SPAN> </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home</a>
          </li>
          
         
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Places To Visit
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
              <a class="dropdown-item" href="404.html">Winter</a>
              <a class="dropdown-item" href="404.html">Spring</a>
              <a class="dropdown-item" href="404.html">Summer</a>
              <a class="dropdown-item" href="404.html">Monsoon</a>
              <a class="dropdown-item" href="404.html">Others</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="404.html">Blog
            </a>
          </li>
          
            <li class="nav-item">
            <a class="nav-link" href="404.html">Services</a>
          </li>
             <li class="nav-item">
            <a class="nav-link" href="contact.html">About</a>
          </li>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>

      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url(img/chandratal.jpg)">
          <div class="carousel-caption d-none d-md-block">
            <h1>6 BEAUTIFUL PLACES TO GO CAMPING NEAR MUMBAI</h1>
            <h5>Lets explore world within world.</h5>
            
          </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        
      </div>
     
    </div>
  </header>

  <!-- Page Content -->
  	
   
    <div class="main-container">
      <h1 class="day-header">6 BEAUTIFUL PLACES TO GO CAMPING NEAR MUMBAI</h1>
      <h2>Camping Near Mumbai (Within 90 Kilometres)</h2>
        <p> If you love discovering India, you don’t have to go to the ends of the country to experience the treasures it holds. Because some are just on the outskirts of the city. It may come as a surprise to many, but it really is possible to go camping near Mumbai.</p>
        <p>In fact, the city has a lot of great camping options just a few hours away. Here you can spend time away from the city, gaze at the stars and get in touch with nature at its finest. Here are some of the best camping places around Mumbai that will surely satiate the adventurous traveller in you.
          </p>
           
    
        <div class="day-content">
            <article class="day-info-left">
                <h3>1. Karnala</h3>                
                <p>Just a short drive away from Mumbai is Karnala, that is popular for a number of reasons. A must visit is the Karnala Bird Sanctuary, located at the base of Karnala Fort. Here you can spot a range of birds as they have over 150 species of native birds and 37 species of migratory birds.</p>

                <p>They offer guided tours which we recommend. During the day, we recommend you head out for the easy trek to the Karnala Fort or take a boat ride at Karnala Lake.</p>

                <p>Location: 48 kilometres away from Mumbai</p>

                <p>
                Best Time to Visit: The best time to visit Karnala is during winter. The temperatures are cooler so you’ll enjoy spending time outdoors.
                </p>

                 
            </article>
          <img class="day-img-left" src="img/delhi.jpg" alt="Spiti image">
        </div>

        <div class="day-content">
            <article class="day-info-left">
                <h3>2. Harishchandragad</h3>                
                <p>Although this is a famous spot for trekking, Harishchandragad has some lovely camping sites as well. The scenery around offers the perfecting setting to click some fabulous pictures to take back home as memories.</p>

                <p>If you are looking for adventure, explore the caves and the hillforts that are centuries old. There is also a small pond at Harishchandragad, that’s considered to be historic. The drive to Harishchandragad from Mumbai is about four hours, which makes it ideal for a day trip, too.</p>

                <p>Location: 201 kilometres from Mumbai.</p>

                <p>
                Best Time to Visit: The best time to go is after the monsoon, this is when the greenery around lights up and the place looks stunning.
                </p>

                 
            </article>
          <img class="day-img-left" src="img/delhi.jpg" alt="Spiti image">
        </div>
        <div class="day-content">
            <article class="day-info-left">
                <h3>3. Shirota Lake</h3>                
                <p>If you are looking to get away from the hustle and bustle of the city, look no further than Shirota Lake. This is one of the best places you can relax, unwind, and even do some adventure sports in the middle of some beautiful surroundings.</p>

                <p>From fishing, to boat rides, and even clicking photographs of exotic birds, Shirota Lakeside allows you to do it all. Feeling more adventurous? Trek down to the nearby hill to enjoy beautiful views of the lake’s neighbourhood. One of the more stunning night camping places near Mumbai.</p>

                <p>Location: 91 kilometres away from Mumbai.</p>

                <p>
                Best Time to Visit: The best time to visit Karnala is during winter. The temperatures are cooler so you’ll enjoy spending time outdoors.
                </p>

                 
            </article>
          <img class="day-img-left" src="img/delhi.jpg" alt="Spiti image">
        </div>
        <div class="day-content">
            <article class="day-info-left">
                <h3>4. Pawna Lake</h3>                
                <p>At Pawna Lake there is no opportunity for treks or adventure sports, but one can enjoy a swim in the lake and some water sports during the tourist season. If you’re looking to add a trek to your trip, then the nearby Tikona fort is a good one to check out.</p>

                <p>At Pawna Lake, there are plenty of camping sites where one can rent out a tent for a few days. Booking for these tents can be done online. During the tourist season and on weekends, it is advisable to book a tent in advance.</p>

                <p>Location: 117.3 kilometres from Mumbai.</p>

                <p>
                Best Time to Visit: The best time to go is after the monsoon. This is when the greenery around lights up and the place looks stunning.
                </p>

                 
            </article>
          <img class="day-img-left" src="img/delhi.jpg" alt="Spiti image">
        </div>

        <div class="day-content">
            <article class="day-info-left">
                <h3>5. Tikona</h3>                
                <p>A secluded trekking and camping site, Tikona is great for those who want some solitude. Located a little away from Lonavala, it offers scenic views of the Sahyadris. The riverbank of the lake near Kamshet is where most of the camping sites exist.</p>

                <p>If you are going with your partner, you can enjoy some very cosy moments or a romantic outdoor BBQ. On the other hand, those travelling in groups can enjoy outdoor sports such as trekking. A few things to keep in mind is that since this place away from the city, carry a lot of water and some food with you. If you are going on a night trek to the Tikona fort, carry a torch with you and wear comfortable shoes. A truly splendid place to go camping around Mumbai.</p>

                <p>Location: 120 kilometres away from Mumbai.</p>

                <p>
                Best time to visit: Although the climate is great throughout the year, avoid going during the summers if you cannot stand warm temperatures.
                </p>

                 
            </article>
          <img class="day-img-left" src="img/delhi.jpg" alt="Spiti image">
        </div>

        <div class="day-content">
            <article class="day-info-left">
                <h3>6. Kolad</h3>                
                <p>Located on the banks of the Kundalika river, Kolad offers adventure lovers with plenty outdoor activities to do, apart from camping. The hill here is good for a short, easy trek that isn’t taxing. Those who love water sports can go kayaking and river rafting on the Kundalika river, it’s best to go during the monsoon when the river is full.</p>

                <p>For those folks who love to spend time just lazing around, there is a vast open space that is good for camping. Here you can watch the stars at night or enjoy a lovely campfire your family and friends. Make the most of your trip here by ending it with a visit to the nearby village and soak in the cultural sights and sounds that Kolad has to offer.</p>

                <p>Location: 122 kilometres from Mumbai</p>

                <p>
                Best Time to Visit: Avoid going during the summer as the temperatures go up to as high as 36°C. It is much better to visit in the monsoon or winter when temperatures are cooler.
                </p>

                 
            </article>
          <img class="day-img-left" src="img/delhi.jpg" alt="Spiti image">
        </div>
        <div><p>As you may have read above, camping places near Mumbai offer tourists plenty of activities and different surroundings to explore. Whether you are looking to rejuvenate your mind, or to get an adrenaline rush with adventure sports, these places offer just the right mix. So where are you headed to next? We would like to know in the comments section below.</p></div>

        
    
     </div>

  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
