{% extends "layout.html" %}
{% block body %}

  
  <header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>

      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url({{ url_for('static', filename='img/chopta/deotal6.jpg') }})">
          <div class="carousel-caption d-none d-md-block">
            <h3>RISHIKESH - DEOTAL - CHOPTA - CHANDRASHILA - DELHI</h3>
            <h5>Ukhimath, Uttarakhand, India</h5>
            
          </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        
      </div>
     
    </div>
  </header>

  <!-- Page Content -->
  	
   
    <div class="main-container">
      <h2 class="day-header">Chopta Chandrashila Deoria Tal Trek</h2>
      
        <p>Looking for a perfect Himalayan Trek? Then opt for Chopta Chandrashila Trek which can be journeyed all throughout the year. It is considered as one of the moderate treks in India. Chopta Chandrashila is a window to Himalaya’s spring color vibrancy. It is a well loved trek for trekking lovers which is quite easy to trek, flourishes with blossoms of flowers. Also you can witness Deoria Tal which itself is a small pond filled with spacious lawns surrounded by dense vegetation which make it excellent spot for camping. It is a pond about 3 km from the villages of Mastura and Sari on the Ukhimath-Chopta road in Uttarakhand.</p>

        <p>This 5-day plan is unmatched in nature’s beauty, exhilarating challenges with trekking, camping, lots of adventurous activities like river rafting, paragliding etc. This would be not an easy ride but with lots of challenges ahead so get ready and explore this wonderful journey.
          </p><hr>
           
    
        <div class="day-content">
            <article class="day-info-left">
                <h3>Day 1 – Reaching Rishikesh from Mumbai</h3>

                <p>To start our journey first we have to reach Rishikesh. One can reach Rishikesh by-<br>
                o Taking a flight from Mumbai to Deharadun where you can reach Haridwar within 2 hrs or you can take a flight to Delhi and come to Haridwar via train and then catch a bus to reach Rishikesh.<br>
                 OR <br>
                o You can directly board a train from Mumbai to Haridwar (which takes around a day to reach) and reach Rishikesh by bus.</p>
                <p>The ideal plan is to reach Rishikesh by morning so that we can start our daily activity.


                </p>

                 
            </article>
       <img class="day-img-left" src="{{ url_for('static', filename='img/chopta/delhi2.jpg') }}" alt="Spiti image">
        </div>      <hr>

        <div class="day-content">
            <article class="day-info">
              <h3>Day 2 - A day in Rishikesh</h3>
                <p> Located in the foothills of the Himalayas in northern India, it is known as the "Gateway to the Himalayas".  It is known as the pilgrimage town and regarded as one of the holiest places to Hindus.<br>
                  <p>Once you reach Rishikesh by morning we would have a small breakfast and go ahead with our first activity which is very famous in this place i.e. River Rafting. Once you are done with river rafting you can opt for various activities like Bungee Jumping, Cliff Jumping, Flying Fox Camping with rafting etc. Also you can visit to various places such as Lakshman Jhula (a famous hanging bridge across the river Ganga), Triveni Ghat (a confluence of three holy significant rivers of India), Gita Bhavan etc.

                </p>

               
            </article>
        <img class="day-img" src="{{ url_for('static', filename='img/chopta/deotal2.jpg') }}" alt="Spiti image">
        </div>   <hr>
        <div class="day-content">
            <article class="day-info-left">
              
              <h3>Day 3 - A trek to Deoriatal</h3>
                <p>Deoria Tal (also Devaria' or 'Deoriya) is a lake about 3 km (1.9 mi) from the villages of Mastura and Sari on the Ukhimath-Chopta road in Uttarakhand. it is heavily wooded, lush green surroundings with snow-covered mountains. </p>

                <p> To reach Deoria Tal, first we have to reach Sari Village which is 12-14 kms away from Ukimath, which in turn is around 40 kms from Rudraprayag, which in turn is 140 KMs from Rishikesh so you can sense it would take a lot of time to reach Deoria Tal (as it will take 7 hrs to reach) but be rest assured you will encounter with scenic hills of Uttarakhand. In order to reach Deoria Tal we have to trek for around 2 kms from Sari Village. The day is kept at your leisure, with options of spending the day resting, clicking photographs, going for short walks around the meadows or interacting with the locals and fellow travelers.

    
                
              
            </article>
        <img class="day-img-left" src="{{ url_for('static', filename='img/chopta/camping.jpg') }}" alt="Spiti image">
        </div>     
          <hr>
        <div class="day-content">
            <article class="day-info">
              <h3>Day 4 - A Visit to Chopta</h3>
                <p>Chopta is a small region of meadows and evergreen forest area which is a part of kedarnath wildlife sanctuary located in Uttarakhand state, India and a base for trekking to Tungnath, third temple of Panch Keda.</p>
                <p>After your overnight camping in Deoria Tal one can go to Chopta in two ways either you can trek to Chopta for 14 kms where you will face the natural beauties of the mountain range, the sceneric beauty of the nature or else we have to once again go back to Sari Village via the same route and take a car to reach our destination. Please note if you wish to trek then we have to leave the camp by early in the morning where we can reach our destination well in time. Once we reach Chopta we would take a much needed rest as we have to be ready for next destination. 
                </p>
                
            </article>
        <img class="day-img" src="{{ url_for('static', filename='img/chopta/chopta1.jpg') }}" alt="Spiti image">
        </div><hr>

        <div class="day-content">
            <article class="day-info-left">
              <h3>Day 5 - Hiking to Chandrashilla Peak</h3>
                <p>It is the summit of the Chandranath Parvat on which the Tungnath temple of Panch Kedar is situated. The trek route that starts from Chopta takes one to Tungnath (the highest Shiva temple in the world). It  is shorter in distance but the steep climbing makes these trek rigorous.</p>
                <p> So rise-up to today’s mountain morning, this is going to be a tough day as we will trek for 5 kms to reach our destination. Once we will start our journey at 3680 mts we will be at Tungnath (the highest Shiva Temple in the world). Just trek a few km's and we shall reach the highest destination of our trek, Chandrashila Peak. From here we will get a view of higher Himalayan peaks such as - Nanda Devi, Bandarpunch, Chaukhamba, and Kedar Peak. Just enjoy these spectacular view which you will never experience in your life time.</p> 


               
                
            </article>
        <img class="day-img-left" src="{{ url_for('static', filename='img/chopta/deotal4.jpg') }}" alt="Spiti image">
        </div>  <hr>
        
      

        
       
      <div class="day-content">
          <article class="day-info-left">
            <h3>INCLUSION</h3>
             
              <p>o Accommodation in 3* star hotels on Double/Triple sharing basis.<br>
              o Veg & Nonveg food (Breakfast & Dinner).<br>
              o All Sightseeing in Car/Bus with experienced drivers cum guide.<br>
              o 1 Day complimentary bike which will be shared between 2.<br>
              o Camping & Fun Activities, Games.<br>
              o Inner line permit.<br>
              o 24 hours of tour assistance with the first-aid box.

              </p>
        
        
              
          </article>
      <h3>EXCLUSION</h3>
             
              <p>o Bike Fuel.<br>
              o Flight Tickets.<br>
              o No food between the train or flight journey.<br>
              o Any entrance fee, camera charges & boating charges.<br>
              o Camping & Fun Activities, Games.<br>
              o Any up-gradation in room category.<br>
              o Any activity or service charges are other than an itinerary.<br>
              o Any damage to the hotel or private property during the tour.

              </p>
            </div>
    
      </div>
    
{% endblock %}