{% extends "layout.html" %}
{% block body %}

   <p>
      {% with messages = get_flashed_messages() %}
          {% if messages %}
        {% for message in messages %}
          <div class="alert alert-success">
          <strong>{{ message }}</strong>
          </div>
        {% endfor %}
          {% endif %}
      {% endwith %}
    </p>


<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3"> 
      <small> </small>
    </h1>

  

    <!-- Intro Content -->
    <div class="row">
      <div class="col-lg-6">
        <img class="img-fluid rounded mb-4" src="{{ url_for('static', filename='img/we4.jpg') }}" alt="">
      </div>
      <div class="col-lg-6">
        <h2>Travel</h2>
        <p>Travel is a registered travel company. We are a team of adventure enthusiasts that specializes in tailor made tours for individuals and groups for travels across India.<br>

        <p>The only solution to change that concept was to enter the Tourism Industry, gathering smallest information, screening the useful ones, collating them & offering it as an unbeatable Package of miscellaneous Services, as per Traveler’s need.</p>
        <ul>
          <li>
            <strong>Assured Quality</strong>
          </li>
          <li>Affordale Prices</li>
          <li>Tailored Packages</li>
          <li>Working contact form with validation</li>
          
        </ul>
      </div>
    </div>
    <!-- /.row -->
  
  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    

    <!-- Content Row -->
    <div class="row">
      <!-- Map Column -->
      
      <!-- Contact Details Column -->
      <div class="col-lg-4 mb-4">
        <h3>Contact Details</h3>
        <p>
          3481 Melrose Place
          <br>Beverly Hills, CA 90210
          <br>
        </p>
        <p>
          <abbr title="Phone">P</abbr>: (123) 456-7890
        </p>
        <p>
          <abbr title="Email">E</abbr>:
          <a href="mailto:name@example.com">name@example.com
          </a>
        </p>
        <p>
          <abbr title="Hours">H</abbr>: Monday - Friday: 9:00 AM to 5:00 PM
        </p>
      </div>
    </div>
    <!-- /.row -->


    <!-- Contact Form -->
    <!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
    <div class="row">
      <div class="col-lg-8 mb-4">
        <h3>Send us a Message</h3>
        <form name="sentMessage" id="contactForm" action = "/contact" method="post" novalidate>
          <div class="control-group form-group">
            <div class="controls">
              <label>Full Name:</label>
              <input type="text" class="form-control" id="name" name="name" required data-validation-required-message="Please enter your name.">
              <p class="help-block"></p>
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              <label>Phone Number:</label>
              <input type="tel" class="form-control" id="phone" name="phone" required data-validation-required-message="Please enter your phone number.">
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              <label>Email Address:</label>
              <input type="email" class="form-control" id="email" name="email" required data-validation-required-message="Please enter your email address.">
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              <label>Message:</label>
              <textarea rows="10" cols="100" class="form-control" id="message" name="message" required data-validation-required-message="Please enter your message" maxlength="999" style="resize:none"></textarea>
            </div>
          </div>
          <div id="success"></div>
          <!-- For success/fail messages -->
          <button type="submit" class="btn btn-primary" id="sendMessageButton">Send Message</button>
        </form>
      </div>

    <!-- /.row -->
    </div>
  </div>
</div>

  {% endblock %}
