{% extends "layout.html" %}
{% block body %}


  <header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>

      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url({{ url_for('static', filename='img/coorg/3.jpg') }})">
          <div class="carousel-caption d-none d-md-block">
            <h1>Coorg - Chikmangalur - Udupi</h1>
            <h5>Karnataka - One State - Many World.</h5>
            
          </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        
      </div>
     
    </div>
  </header>

  <!-- Page Content -->
  	
   
    <div class="main-container">
      <h1 class="day-header"></h1>
      <h2>Karnataka Tour Itineraries - Best Of Karnataka Tour</h2>
        <p> Karnataka offers a rich combination of sights and activities for the visitor, with the lush hills of Coorg, abundant wildlife in the Kabini/Nagarhole area, ancient temples at numerous sites across the state, beautiful palaces like Mysore Palace, hill station like Chikmagalur and a long, largely deserted coastline of Malpe Beach. This 6-day tour will take through these number of palces. This itinerary is perfect for those with a week off and want to explore the laid back side of India.	
          </p>
           
    
        <div class="day-content">
            <article class="day-info-left">
                <h3>Day 1 – Coorg</h3>
                <p>Most of the people called as Scotland of India because the climate of Coorg and places remind about Scotland.Coorg is a tranquil, little town in Southern Karnataka, cradled in the Western Ghats. It is famous mainly for its austere sights, varied wildlife, world-class coffee.
                For reaching Coorg, Manglore is the nearest place where you can reach by airways or through railways. Once you reach Manglore,we will have a private car and reach Madkeri. Madikeri is a hill station town in Coorg. This day you can explore the town of Madikeri by visiting one of the famous places such as Raja Seat, Omkareshwar temple and various temple and forts.
                </p>

                 
            </article>
       <img class="day-img-left" src="{{ url_for('static', filename='img/coorg/5.jpg') }}" alt="Spiti image">
        </div>      

        <div class="day-content">
            <article class="day-info">
              <h3>Day 2 - Sightseeing of Coorg</h3>
                <p>We will start the day by visiting Dubare Elephant Camp-Resort where it is known for its elephant camp and famously for elephant bath where the joyful elephant will bath and keep you entertained with their play. Then we will move forward to Nisargadhama, a 64-acre island,with lush foliage of thick bamboo groves, sandalwood and teak trees. The island is accessible through a hanging rope bridge. Also you can witness a rich heritage of wild-life culture where you can see various wild life animal such as deer, rabit, peackoks etc. At the end of the day we will be visiting Namdroling Nyingmapa Monastery famously called Golden Temple. This is the largest teaching center of the Nyingma lineage of Tibetan Buddhism in the world. The monastery hosts traditional Lama Dances, oversize Thankga hanging from the sides of its buildings, as well as solemn processions throughout the monastery grounds spanning approximately two weeks.
          
                </p>
                
            </article>
        <img class="day-img" src="{{ url_for('static', filename='img/coorg/6.jpg') }}" alt="Spiti image">
        </div>   
        <div class="day-content">
            <article class="day-info-left">
              
              <h3>Day 3 - Forest Park - Waterfall - Mysore Palace</h3>
                <p>Day 3 will get started by visiting Nagarhole National Park (also known as Rajiv Gandhi National Park), is a national park located in Kodagu district. It is one of India's premier Tiger Reserves. After an exhaustive ride we will cool off by visiting Irruppu Falls situated in Brahmagiri, a magnificient waterfall which is on the well-known Coorg Tourist Place. After taking some rest, we will start with our long journey for Chikmangalur where we would stop by Mysore Palace and explore this magnificient palace. Please note we can get a picturesque view of Mysore Palace at evening.
                </p>
              
            </article>
        <img class="day-img-left" src="{{ url_for('static', filename='img/coorg/8.jpg') }}" alt="Spiti image">
        </div>     

        <div class="day-content">
            <article class="day-info">
              <h3>Day 4 - Chikmagaluru - Mullayanagiri - Baba Budangiri</h3>
                <p>By morning we will Chikmagaluru, a hill station in Karnataka. Located on the foothills we will reach Mullayanagiri a peak for the trekking lovers, one of the best trekking places in Karnataka. In this range itself we will visit the place Baba Budangiri, a  shrine to the Sufi saint Hazrat Dada Hayat Khalandar, a pilgrimage site for both Hindus and Muslims. Nearby to this place are three large caves, a seethala and load of waterfall (if we are lucky enough to view). Then we will move ahead to Kemmannugundi and take a rest in one of the cottages, by night you will have a kind of a spooky experience where in nearby there are no single person, no mobile networks

                </p>
                
            </article>
        <img class="day-img" src="{{ url_for('static', filename='img/coorg/9.jpg') }}" alt="Spiti image">
        </div><hr>

        <div class="day-content">
            <article class="day-info-left">
              <h3>Day 5 - Kemmannugundi</h3>
                <p>Kemmanagundi is a beautiful and picturesque hill station, situated on the Baba Budan range.Over there you can visit Horticultural Department of Karnataka which grows a lot of ornamental plants. The main attractions at Kemmangundi are Raj Bhavan (a Guest House) and the Rose garden maintained by the Horticultural Department. You can also opt for trekking the Z point trek, a wonderful trekking spot and one of the prime places to visit in Kemmanagundi. Then we will straight away go to that place where we have started over journey i.e Manglore.</p>

            

                </p>
                
            </article>
        <img class="day-img-left" src="{{ url_for('static', filename='img/coorg/4.jpg') }}" alt="Spiti image">
        </div>  
        <hr>
      <div class="day-content">
            <article class="day-info">
              <h3>Day 6 - Manglore - Murudeshwar - Malpe Beach</h3>
                <p>We will reach Manglore by evening on day 5 and take a rest. By morning we will go to Murdeshwar, which is famous for the world's second tallest Shiva statue. Also it is famous for 20-storied gopura, the temple authorities have installed a lift that provides a breath-taking view of the 123-feet Sri Shiva idol from the top of the Raja gopura. Once your devotional trip is over we will go over to next and final destination i.e. Malpe Beach. It is one of the unexplored beaches in India. The beach has a never-ending coastline, which is surrounded by three rocky islands on the western side. The beach is very famous for various seafood items, restaurent and hotels. With these we end our journey.



                </p>
                
            </article>
        <img class="day-img" src="{{ url_for('static', filename='img/coorg/6.jpg') }}" alt="Spiti image">
        </div>
  <div class="day-content">
          <article class="day-info-left">
            <h3>INCLUSION</h3>
             
              <p>o Camping next to the lake.<br>
              o Veg & Nonveg food (Breakfast & Dinner).<br>
              o Mineral water.<br>
              o Tea with biscuits on arrival.<br>
              o Barbecue (Veg / Non Veg as per preference).<br>
              o Campfire.<br>
              

              </p>
        
        
              
          </article>
      <h3>EXCLUSION</h3>
             
              <p>o Bike Fuel.<br>
              o Flight Tickets.<br>
              o No food between the train or flight journey.<br>
              o Any entrance fee, camera charges & boating charges.<br>
              o Camping & Fun Activities, Games.<br>
              o Any up-gradation in room category.<br>
              o Any activity or service charges are other than an itinerary.<br>
              o Any damage to the hotel or private property during the tour.

              </p>
            </div>
    
      </div>
    
    
    </div>

    {% endblock %}