<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Spiti Valley</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/modern-business.css" rel="stylesheet">

  <link href="css/day.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

  <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a href="file:///C:/Users/Istkhar%20Mohmmad/Desktop/Travelators/index.html"><img class="logo5" src="img/logo10.png" alt=""></a>
     

      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home</a>
          </li>
          
         
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Places To Visit
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
              <a class="dropdown-item" href="404.html">Winter</a>
              <a class="dropdown-item" href="404.html">Spring</a>
              <a class="dropdown-item" href="404.html">Summer</a>
              <a class="dropdown-item" href="404.html">Monsoon</a>
              <a class="dropdown-item" href="404.html">Others</a>
            </div>
          </li>
             <li class="nav-item">
            <a class="nav-link" href="404.html">Blog
            </a>
          </li>
          
            <li class="nav-item">
            <a class="nav-link" href="404.html">Services</a>
          </li>
             <li class="nav-item">
            <a class="nav-link" href="contact.html">About</a>
          </li>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>

      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url(img/trek2.jpg)">
          <div class="carousel-caption d-none d-md-block">
            <h1>LADAKH VALLEY - PANGONG LAKE - LEH</h1>
            <h5>Leh, Himanchal Pradesh, India</h5>
            
          </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        
      </div>
     
    </div>
  </header>

  <!-- Page Content -->
 
   
    <div class="main-container">
      <h2 class="day-header">Escape to Reality......Ladakh Valley......8 days Journey</h2>
      
        <p> o If you’re looking for something extraordinary, something challenging then Ladhak is your answer. Ladakh is truly a heaven on Earth. <br>
        o It is renowned for its remote mountain beauty and culture. The blue skies and the fresh mountain air around you will make this trip as one of the most remarkable journey in your life. <br>
        o It is one of the most sparsely populated regions in India and its culture and history are closely related to that of Tibet.<br>
        o A trip to Ladakh can be a magical experience if you plan well. If you are planning a Ladhak trip for 7 days then the below itinerary is best suited for you.
          </p>
           
    
        <div class="day-content">
            <article class="day-info-left">
                <h3>Day 1 – Reach Delhi from Mumbai</h3>
                <p>o Reach Delhi by 7.30 PM.<br>
                o Travel options from Mumbai to Delhi either by Train or Flight.<br>
                o Bus will depart from Delhi to Manali between 9.30 PM to 10.30 PM.<br>
                o Bus options semi - sleeper.
                </p>

                 
            </article>
       <img class="day-img-left" src="img/delhi.jpg" alt="Spiti image">
        </div>      

        <div class="day-content">
            <article class="day-info">
              <h3>Day 2 - Arriving in Leh</h3>
                <p>o  We will start our journey by reaching Leh. To reach Leh you can take a flight which is usually in morning. It means that you will land in Leh early morning on Day 1 which will leave you the entire day to make other arrangements. <br>
                o Leh is a high-desert city in the Himalayas and it is the joint capital and largest town of Ladakh. It is now known for its Buddhist sites and nearby trekking areas. <br>
                o This day we will take a rest as you have to adjust with the climate. If you not feeling too affected by evening, you can go for a walk in the local market or visit Leh Palace such as Shanti Stoopa or any of the monasteries around.</p>
                
            </article>
        <img class="day-img" src="img/hadimba.jpg" alt="Spiti image">
        </div>   
        <div class="day-content">
            <article class="day-info-left">
              
              <h3>Day 3 - Leh to Nubra Valley</h3>
                <p>o  On Day 2, you will start your journey from Leh to Nubra valley via through our private car or tempo traveler.  First stop of the day will be Khardung La which is about 35 kilometers from Leh. It is the highest motorable road in the world. Over here you will experience the fantastic views of the mountain range. <br>
                o During most of the way, you get to see a beautiful panorama of the city of Leh from above, and while you keep on going up, this panorama gradually becomes a view of the Indo Valley and its surrounding stunning mountain range. <br>
                o After crossing Khardung La, you will descend in to Nubra Valley. There are several towns here where you can find accommodation like Sumur, Panamik, Hunder or Diskit. We will halt in Dikshit which we have hotels and guest house.<br>
                
                </p>
              
            </article>
        <img class="day-img-left" src="img/Hikkim.jpg" alt="Spiti image">
        </div>     

        <div class="day-content">
            <article class="day-info">
              <h3>Day 4 - Nubra Valley to Leh</h3>
                <p>o  On Day 3, you will return to Leh by the same road across Khardung La. As it will be a long journey we will take a turn towards Panamik from Khalsar before coming back to Leh. <br>
                o A beautiful scenic village in the Nubra valley and famous for its hot springs, the Panamik is a go to destination for tourists travelling across Ladakh<br>
                o The hot water springs of Panamik are enriched with a high amount of sulphur. A dip in these sulphur hot springs is believed to cure various health ailments.

                </p>
                
            </article>
        <img class="day-img" src="img/photo2.jpg" alt="Spiti image">
        </div>

        <div class="day-content">
            <article class="day-info-left">
              <h3>Day 5 - Leh to Pangong Tso and then back to Leh</h3>
                <p>o  On Day 4, you will visit Pangong Tso; the lake that has over the time become the very symbol of Ladak. It is an endorheic lake in the Himalayas situated at a height of about 4,350 meter.<br>
                
                o The lake is 5 km wide at its broadest point. During winter the lake freezes completely. It is popularly known as “India's Own Moonland”. Its water, which seems to be dyed in blue, stand in stark contrast to the arid mountains surrounding it.<br>
                o You could spend hours in this beautiful lake which is known to change colors, appearing blue, green and red at different times of a day. <br>
                o At the end of the day we will be doing camping. Place a bonfire, get a barbecue going and enjoy the beauty surrounding you – it can't get better than this!<br>
                o Next day we will be once again returning to Leh as it is a 6 hr journey it will be hectic go to any other place. 
                

                </p>
                
            </article>
        <img class="day-img-left" src="img/Langza.jpg" alt="Spiti image">
        </div>  
        
      <div class="day-content">
            <article class="day-info">
              <h3>Day 6 - Leh to Tso Moriri</h3>
                <p>o  Your next destination on Day 5 will be Tso Moriri. This will be the longest journey so far so an early start is a must. Roads will be a mix of good, bad and ugly. Travel time will easily be around 8-9 hours. <br>
                o Moriri lake in Changthang region of Ladakh is one of the most beautiful, calm, and sacred (for Ladakhis) high altitude lakes in India. It is the largest high altitude lake in India that is entirely in Indian Territory. <br>
                o This beautiful blue pallet lake is about 7 km wide at its broadest point and about 19 km long. You cannot pitch any camps near Tso Moriri or construct any stay option near the banks of the lake.<br>
                o The beautiful multi-shades of blues offered by this lake along with a picturesque landscape around give this place an extremely romantic and breathtaking feel. By evening we will go to Karzok and have a stay over there.</p>
                
            </article>
        <img class="day-img" src="img/Chandratal.jpg" alt="Spiti image">
        </div>

        <div class="day-content">
            <article class="day-info-left">
              <h3>Day 7 - Tso Moriri (Karzok) to Leh</h3>
                <p>o  By morning we will go back to Leh via Korzok village. Korzok, is a Tibetan Buddhist monastery belonging to the Drukpa Lineage.<br>
                o It is one of the India’s highest permanent villages this will be the last day of your trip. <br>
                o Once you reach Leh you can take a rest or take a walk nearby market. <br>
                o The next day by morning you can take a flight and reach to your destination.
                </p>
                
            </article>
        <img class="day-img-left" src="img/trek.jpg" alt="Spiti image">
        </div>

      
       <div class="day-content">
                <article class="day-info-left">
                  <h3>INCLUSION</h3>
                   
                    <p>o Accommodation in 3* star hotels on Double/Triple sharing basis.<br>
                    o Veg & Nonveg food (Breakfast & Dinner).<br>
                    o All Sightseeing in Car/Bus with experienced drivers cum guide.<br>
                    o 1 Day complimentary bike which will be shared between 2.<br>
                    o Camping & Fun Activities, Games.<br>
                    o Inner line permit.<br>
                    o 24 hours of tour assistance with the first-aid box.

                    </p>
              
              
                    
                </article>
            <h3>EXCLUSION</h3>
                   
                    <p>o Bike Fuel.<br>
                    o Flight Tickets.<br>
                    o No food between the train or flight journey.<br>
                    o Any entrance fee, camera charges & boating charges.<br>
                    o Camping & Fun Activities, Games.<br>
                    o Any up-gradation in room category.<br>
                    o Any activity or service charges are other than an itinerary.<br>
                    o Any damage to the hotel or private property during the tour.

                    </p>
            </div>

    

    
  </div>
    <!-- /.container -->
<footer class="py-5 bg-dark">
    <img class="day-img-left1" src="img/logo10.png" alt="Spiti image">
    <div class="day-content1">
            <article class="day-info-left1">
              <h3>About us</h3>
                <p>Travelators are group of four enthusiastic and energetic people. Who are exploring India in last 5 to 7 years in there on ways. Now after travelling several places in group, solo and self planned itinerary we have decided to show path to other travellers.

                </p>
                <ul class="quick-contact">
                    <li><i class="fa fa-phone text-blue"></i> : +919819549633</li>
                    <li><i class="fa fa-phone text-blue"></i> : +919821793123</li>
                    <li><i class="fa fa-phone text-blue"></i> : +918082624351</li>
                    <li><i class="fa fa-envelope text-blue"></i> : contacttravelators@gmail.com</li>
                </ul>


       <div class="main">
    <div class="flex-container">
      

      <div class="flex-items">
        <i class="fa fa-facebook text-blue"></i>
      </div>
      
    
      <div class="flex-items">
        <i class="fa fa-instagram text-blue"></i>
        
      </div>
      <div class="flex-items">
        <i class="fa fa-twitter text-blue"></i>
      </div>
    </div>
        
     
    </div>
     <p class="m-0 text-right text-black">Copyright &copy; Your Website 2019</p>
     </article>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
