<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Camping at Pawna Lake</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/modern-business.css" rel="stylesheet">

  <link href="css/day.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

  <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a href="file:///C:/Users/Istkhar%20Mohmmad/Desktop/Travelators/index.html"><img class="logo5" src="img/logo10.png" alt=""></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home</a>
          </li>
          
         
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Places To Visit
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
              <a class="dropdown-item" href="404.html">Winter</a>
              <a class="dropdown-item" href="404.html">Spring</a>
              <a class="dropdown-item" href="404.html">Summer</a>
              <a class="dropdown-item" href="404.html">Monsoon</a>
              <a class="dropdown-item" href="404.html">Others</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="404.html">Blog
            </a>
          </li>
          
            <li class="nav-item">
            <a class="nav-link" href="404.html">Services</a>
          </li>
             <li class="nav-item">
            <a class="nav-link" href="contact.html">About</a>
          </li>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>

      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url(img/coorg/3.jpg)">
          <div class="carousel-caption d-none d-md-block">
            <h1>Camping at Pawna Lake</h1>
            <h5>Lonavala, Maharashtra, India</h5>
            
          </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        
      </div>
     
    </div>
  </header>

  <!-- Page Content -->
  	
   
    <div class="main-container">
      <h1 class="day-header"></h1>
      <h2>Camping at Pawna Lake</h2>
        <p> Pawna Lake is one of the best camping sites. Camping intent is the best way to celebrate the weekend with friends, family and college groups.The sheer size of the lake along with the surroundings make for an awesome sight. It is a very clean lake and too vast. It has a scenic beauty around, people come here for camping and photography . The lake is one of the popular artificial lakes located 10 kilometres has become an important campsite after the construction of the Pawna Dam.
          </p>
          <h2>Location</h2>
          <p>Pawana Lake is about 20 kilometres from the Lonavala Railway Station.<br>
          To reach Pawna lake camp catch a train from Dadar or to any station where express trains are halted. It is preferable to catch a train by morning where you can reach Lonavala mostly by 2.00 p.m. Once you reach Lonavala we will be leaving for Pawna Lake Camping through a private car. It is a 2 hr journey where you can view the beautiful landscape of Lonavala, waterfalls and a mountain scenic view. </p>
                
                           
    
        <div class="day-content">
            <article class="day-info-left">
                <h3>Day 1 – Arrive at Pawna Lake Campsite</h3>
                <p>Once we reach Pawna Lake campsite you can walk around the vicinity and explore the location on your own. Once you are settle down we will be serving with a hot cup of tea and snacks. You can set off to explore the surroundings on a short jungle trek and come back within the stipulated time so that you can enjoy the sunset over the lake. Once it grows dark we would have a bonfire session where you and your love ones can relax and enjoy the chill weather with star gazing. There would be a barbecue session, followed by dinner.
                </p>
                

                 
            </article>
       <img class="day-img-left" src="img/coorg/5.jpg" alt="Spiti image">
        </div>      

        <div class="day-content">
            <article class="day-info">
              <h3>Day 2 - Depart from campsite</h3>
                <p>Do wake up early so you can witness the beautiful sunrise view. Enjoy the hot cup of tea with breakfast, relax for a while and check out where our private car will drop you off to Lonavala Station. Trip ends here.
                </p>
                
            </article>
        <img class="day-img" src="img/coorg/6.jpg" alt="Spiti image">
        </div>   
      
    
    <div class="day-content">
          <article class="day-info-left">
            <h3>INCLUSION</h3>
             
              <p>o Camping next to the lake.<br>
              o Veg & Nonveg food (Breakfast & Dinner).<br>
              o Mineral water.<br>
              o Tea with biscuits on arrival.<br>
              o Barbecue (Veg / Non Veg as per preference).<br>
              o Campfire.<br>
              

              </p>
        
        
              
          </article>
      <h3>EXCLUSION</h3>
             
              <p>o Bike Fuel.<br>
              o Flight Tickets.<br>
              o No food between the train or flight journey.<br>
              o Any entrance fee, camera charges & boating charges.<br>
              o Camping & Fun Activities, Games.<br>
              o Any up-gradation in room category.<br>
              o Any activity or service charges are other than an itinerary.<br>
              o Any damage to the hotel or private property during the tour.

              </p>
            </div>
    
      </div>
    

<footer class="py-5 bg-dark">
    <img class="day-img-left1" src="img/logo10.png" alt="Spiti image">
    <div class="day-content1">
            <article class="day-info-left1">
              <h3>About us</h3>
                <p>Travelators are group of four enthusiastic and energetic people. Who are exploring India in last 5 to 7 years in there on ways. Now after travelling several places in group, solo and self planned itinerary we have decided to show path to other travellers.

                </p>
                <ul class="quick-contact">
                    <li><i class="fa fa-phone text-blue"></i> : +919819549633</li>
                    <li><i class="fa fa-phone text-blue"></i> : +919821793123</li>
                    <li><i class="fa fa-phone text-blue"></i> : +918082624351</li>
                    <li><i class="fa fa-envelope text-blue"></i> : contacttravelators@gmail.com</li>
                </ul>


       <div class="main">
    <div class="flex-container">
      

      <div class="flex-items">
        <i class="fa fa-facebook text-blue"></i>
      </div>
      
    
      <div class="flex-items">
        <i class="fa fa-instagram text-blue"></i>
        
      </div>
      <div class="flex-items">
        <i class="fa fa-twitter text-blue"></i>
      </div>
    </div>
        
     
    </div>
     <p class="m-0 text-right text-black">Copyright &copy; Your Website 2019</p>
     </article>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
