<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Shimla-Manali</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/modern-business.css" rel="stylesheet">

  <link href="css/day.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

  <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a href="file:///C:/Users/Istkhar%20Mohmmad/Desktop/Travelators/index.html"><img class="logo5" src="img/logo9.png" alt=""></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home</a>
          </li>
          
         
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Places To Visit
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
              <a class="dropdown-item" href="404.html">Winter</a>
              <a class="dropdown-item" href="404.html">Spring</a>
              <a class="dropdown-item" href="404.html">Summer</a>
              <a class="dropdown-item" href="404.html">Monsoon</a>
              <a class="dropdown-item" href="404.html">Others</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="404.html">Blog
            </a>
          </li>
          
            <li class="nav-item">
            <a class="nav-link" href="404.html">Services</a>
          </li>
             <li class="nav-item">
            <a class="nav-link" href="contact.html">About</a>
          </li>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>

      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url(img/chandratal.jpg)">
          <div class="carousel-caption d-none d-md-block">
            <h1>Chittodgadh - Ajmer - Pushkar - Jodhpur</h1>
            <h5>Lets explore world within world.</h5>
            
          </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        
      </div>
     
    </div>
  </header>

  <!-- Page Content -->
  	
   
    <div class="main-container">
      <h1 class="day-header">Rajasthan Tour - Jaipur Pushkar Udaipur</h1>
      
        <p> Explore the mighty land of Rajasthan in just 5 days. Discover the rich culture and history of this land of Maharajas. The enthralling forts, palaces and monuments have so much to say about the history. That is why these are visited by numerous travelers every year.</p>
        <p>This 5 Days Jaipur Pushkar Udaipur tour will take you through the best tourist destinations of Rajasthan which include cities like Jaipur, Pushkar and Mount Abu. Other attractions of the state await your visit which includes beautiful holy temples, carvings and quiet lakes.
          </p>
           <hr>
    
        <div class="day-content">
            <article class="day-info-left">
                <h3>Day 1 – Mumbai - Jaipur</h3>
                <p>o Reach Delhi by 7.30 PM<br>
                o Travel options from Mumbai to Delhi either by Train or Flight<br>
                o Bus will depart from Delhi to Manali between 9.30 PM to 10.30 PM<br>
                o Bus options semi - sleeper
                </p>

                 
            </article>
       <img class="day-img-left" src="img/delhi.jpg" alt="Spiti image">
        </div>      <hr>

        <div class="day-content">
            <article class="day-info">
              <h3>Day 2 - Arrival in Jaipur</h3>
                <p>Our tour representative will meet and greet you in Jaipur Airport or Railway Station. He will accompany you to the pre-booked hotel. There he will give you the tour related documents and a short description about the tour. After checking-in and relaxing, go for city tour which includes sightseeing of City Palace, Hawa Mahal and Jantar Mantar. Stay overnight in the hotel.
          
                </p>
                
            </article>
        <img class="day-img" src="img/hadimba.jpg" alt="Spiti image">
        </div>   <hr>
        <div class="day-content">
            <article class="day-info-left">
              
              <h3>Day 3 - Jaipur</h3>
                <p>Take an elephant ride in the morning to reach Amber Fort. Return back to hotel in the evening and go for shopping or dining-out nearby to taste local food. Have a comfortable stay in the hotel at night.
                
                </p>
              
            </article>
        <img class="day-img-left" src="img/Hikkim.jpg" alt="Spiti image">
        </div>     

        <div class="day-content">
            <article class="day-info">
              <h3>Day 4 - Jaipur - Pushkar</h3>
                <p>Move towards Pushkar in the morning. Pushkar is famous worldwide for organizing the biggest Camel Fair. It also has the only Brahma Temple. Take a holy dip in the Pushkar Lake. Pay a visit to the Rose Garden. Check-in to the pre-booked hotel and have a comfortable stay at night.
                </p>
                
            </article>
        <img class="day-img" src="img/photo2.jpg" alt="Spiti image">
        </div>

        <div class="day-content">
            <article class="day-info-left">
              <h3>Day 5 - Pushkar - Ajmer</h3>
                <p>Day 4 will include a trip to Mount Abu from Pushkar. Mount Abu - the only hill station of Rajasthan offers a refreshing summer retreat. On reaching Mount Abu, check in to a hotel for overnight stay.</p>

                <p>Dinner and overnight stay planned at the hotel.

                </p>
                
            </article>
        <img class="day-img-left" src="img/Langza.jpg" alt="Spiti image">
        </div>  
        
      <div class="day-content">
            <article class="day-info">
              <h3>Day 6 - Ajmer - Jodhpur</h3>
                <p>The day will begin with the visit to Dilwara Jain Temple in Mount Abu. To carry out the rituals one has to bathe in the lake and avail the facilities from the temple. Enjoy cruising at Nakki Lake. Shop to your heart’s content or eat at Mall Road. Move towards Udaipur Airport or Railway Station to board a flight or a train for onward journey.

                </p>
                
            </article>
        <img class="day-img" src="img/Chandratal.jpg" alt="Spiti image">
        </div>

        <div class="day-content">
            <article class="day-info-left">
              <h3>Day 7 - Jodhpur - Mumbai</h3>
                <p>On this day you will be making your way back to Delhi. Enjoy your morning meal and finish the checkout formalities after which your road trip will begin. On arrival, you will be escorted to the Delhi airport/railway station for the journey ahead.

                </p>
                
            </article>
        <img class="day-img-left" src="img/trek.jpg" alt="Spiti image">
        </div>
    
    </div>

<footer class="py-5 bg-dark">
    <img class="day-img-left1" src="img/logo10.png" alt="Spiti image">
    <div class="day-content1">
            <article class="day-info-left1">
              <h3>About us</h3>
                <p>Travelators are group of four enthusiastic and energetic people. Who are exploring India in last 5 to 7 years in there on ways. Now after travelling several places in group, solo and self planned itinerary we have decided to show path to other travellers.

                </p>
                <ul class="quick-contact">
                    <li><i class="fa fa-phone text-blue"></i> : +919819549633</li>
                    <li><i class="fa fa-phone text-blue"></i> : +919821793123</li>
                    <li><i class="fa fa-phone text-blue"></i> : +918082624351</li>
                    <li><i class="fa fa-envelope text-blue"></i> : contacttravelators@gmail.com</li>
                </ul>


       <div class="main">
    <div class="flex-container">
      

      <div class="flex-items">
        <i class="fa fa-facebook text-blue"></i>
      </div>
      
    
      <div class="flex-items">
        <i class="fa fa-instagram text-blue"></i>
        
      </div>
      <div class="flex-items">
        <i class="fa fa-twitter text-blue"></i>
      </div>
    </div>
        
     
    </div>
     <p class="m-0 text-right text-black">Copyright &copy; Your Website 2019</p>
     </article>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>