<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Shimla-Manali</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/modern-business.css" rel="stylesheet">

  <link href="css/day.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

  <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a href="file:///C:/Users/Istkhar%20Mohmmad/Desktop/Travelators/index.html"><img class="logo5" src="img/logo9.png" alt=""></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home</a>
          </li>
          
         
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Places To Visit
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
              <a class="dropdown-item" href="404.html">Winter</a>
              <a class="dropdown-item" href="404.html">Spring</a>
              <a class="dropdown-item" href="404.html">Summer</a>
              <a class="dropdown-item" href="404.html">Monsoon</a>
              <a class="dropdown-item" href="404.html">Others</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="404.html">Blog
            </a>
          </li>
          
            <li class="nav-item">
            <a class="nav-link" href="404.html">Services</a>
          </li>
             <li class="nav-item">
            <a class="nav-link" href="contact.html">About</a>
          </li>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>

      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url(img/chandratal.jpg)">
          <div class="carousel-caption d-none d-md-block">
            <h1>SHIMLA - MANALI</h1>
            <h5>Lets explore world within world.</h5>
            
          </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        
      </div>
     
    </div>
  </header>

  <!-- Page Content -->
  	
   
    <div class="main-container">
      <h1 class="day-header">Shimla - Manali</h1>
      
        <p> Are you one of those who loves the idea of spending vacations in hill stations? If yes, then North India, especially Himachal Pradesh has just the right places for you. Brimming with the beauty of nature, are its most loved tourist attractions Shimla and Manali. To get the best experience of these hill stations is the Magnificent Shimla Manali Tour. This 5 Nights and 6 Days itinerary is packed with top places to visit like Kufri, Solang Valley, and Rohtang Pass. You also get a chance to visit the sacred shrines and indulge in amazing activities. Between all the exploring and enjoyment, the itinerary also saves some time for you to take back memories from the Mall Roads.</p>

        <p>Take a look at the itinerary below and get charmed by the panoramic sights of Manali and Shimla.</p>

        <p>Note: This is just a suggested itinerary indicative of what could be possible. We tailor holidays for your specific needs. Contact us if you want modifications so that we could tailor a holiday to suit your need for an unforgettable India tour.
          </p>
           
    
        <div class="day-content">
            <article class="day-info-left">
                <h3>Day 1 – Reach Delhi from Mumbai</h3>
                <p>o Reach Delhi by 7.30 PM<br>
                o Travel options from Mumbai to Delhi either by Train or Flight<br>
                o Bus will depart from Delhi to Manali between 9.30 PM to 10.30 PM<br>
                o Bus options semi - sleeper
                </p>

                 
            </article>
       <img class="day-img-left" src="img/delhi.jpg" alt="Spiti image">
        </div>      

        <div class="day-content">
            <article class="day-info">
              <h3>Day 2 - Arrival at Delhi railway station/airport to Shimla</h3>
                <p>As soon as you arrive at Delhi airport/railway station, our representative will escort you and help you with your road trip to Shimla. Snuggled in North India, Shimla is one of the best places to relax and enjoy away from the city rush. Upon your arrival, check-in at the hotel and spend the rest of the day at leisure.

                Dinner and overnight stay at the hotel.
          
                </p>
                
            </article>
        <img class="day-img" src="img/hadimba.jpg" alt="Spiti image">
        </div>   
        <div class="day-content">
            <article class="day-info-left">
              
              <h3>Day 3 - Shimla to Kufri to Shimla</h3>
                <p>This day brings with it the joy of going for a sightseeing tour to Kufri. Post breakfast, get ready and leave for the destination. Mahasu Peak, Indira Tourist Park, and Chini Bungalow are some places of interest in Kufri.</p>

                <p>On your way back to Shimla, visit the Vice Regal Lodge. It is famous for its English Renaissance architecture and for being the summer residence of British Viceroys. Post that, relish the breeze on a stroll on the Mall Road.</p>

                <p>Dinner and night stay at the hotel.
                
                </p>
              
            </article>
        <img class="day-img-left" src="img/Hikkim.jpg" alt="Spiti image">
        </div>     

        <div class="day-content">
            <article class="day-info">
              <h3>Day 4 - Shimla to Manali</h3>
                <p>Day 3 is going to be another fun-filled ride as you leave for Manali now. It won't be wrong to say that this hill station is the perfect place for trying adventure activities. On arrival, check-in at the hotel and take some to relax. After that, you can head out and be a part of the locals and tourists on the Mall Road. You can try the different delicacies and also buy souvenirs.
                </p>
                <p>Dinner and night stay at the hotel.

                </p>
                
            </article>
        <img class="day-img" src="img/photo2.jpg" alt="Spiti image">
        </div>

        <div class="day-content">
            <article class="day-info-left">
              <h3>Day 5 - Manali</h3>
                <p>This is another day in the serene surroundings of Manali. Once you are done with your breakfast, it is time to begin your excursion to the famous Hadimba Devi Temple. This temple worships Hidimba Devi, wife of Bhima from the Hindu epic Mahabharata. After spending some time here, head to the Vashisht Kund, Tibetan Monastery and handicraft centre. You can also take a walk around the Vashisht village.</p>

                <p>Dinner and overnight stay planned at the hotel.

                </p>
                
            </article>
        <img class="day-img-left" src="img/Langza.jpg" alt="Spiti image">
        </div>  
        
      <div class="day-content">
            <article class="day-info">
              <h3>Day 6 - Manali to Rohtang Pass to Manali</h3>
                <p>On day 5 you will be experiencing the fun and beauty at Solang Valley and Rohtang Pass. While Solang Valley is famous for zorbing and paragliding, Rohtang Pass is perfect for playing with snow and skiing.</p>
                <p>Make your way back to the hotel for dinner and night stay at the end of the day.

                </p>
                
            </article>
        <img class="day-img" src="img/Chandratal.jpg" alt="Spiti image">
        </div>

        <div class="day-content">
            <article class="day-info-left">
              <h3>Day 7 - Manali to Delhi</h3>
                <p>On this day you will be making your way back to Delhi. Enjoy your morning meal and finish the checkout formalities after which your road trip will begin. On arrival, you will be escorted to the Delhi airport/railway station for the journey ahead.

                </p>
                
            </article>
        <img class="day-img-left" src="img/trek.jpg" alt="Spiti image">
        </div>
    
    </div>

<footer class="py-5 bg-dark">
    <img class="day-img-left1" src="img/logo10.png" alt="Spiti image">
    <div class="day-content1">
            <article class="day-info-left1">
              <h3>About us</h3>
                <p>Travelators are group of four enthusiastic and energetic people. Who are exploring India in last 5 to 7 years in there on ways. Now after travelling several places in group, solo and self planned itinerary we have decided to show path to other travellers.

                </p>
                <ul class="quick-contact">
                    <li><i class="fa fa-phone text-blue"></i> : +919819549633</li>
                    <li><i class="fa fa-phone text-blue"></i> : +919821793123</li>
                    <li><i class="fa fa-phone text-blue"></i> : +918082624351</li>
                    <li><i class="fa fa-envelope text-blue"></i> : contacttravelators@gmail.com</li>
                </ul>


       <div class="main">
    <div class="flex-container">
      

      <div class="flex-items">
        <i class="fa fa-facebook text-blue"></i>
      </div>
      
    
      <div class="flex-items">
        <i class="fa fa-instagram text-blue"></i>
        
      </div>
      <div class="flex-items">
        <i class="fa fa-twitter text-blue"></i>
      </div>
    </div>
        
     
    </div>
     <p class="m-0 text-right text-black">Copyright &copy; Your Website 2019</p>
     </article>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
